{% extends "::base.html.twig" %}
{% block script %}
<style type="text/css">
    .cl{
        margin-left:-508px;
        position:absolute;
        left:50%;
    }
    .text{
        float:left;
        margin-top:0px;
    }
</style>
{% endblock %}
{% block text %}
<div class="text2" style="padding-right:0px; padding-bottom:10px;">
    {% include "AslanPageBundle:Default:blogs.html.twig" %}    
</div>   
{% endblock %}