<div class="contact-form">
    <form action="http://landing.lab-developers.com/feedback/14" method="post" id="contact-form" novalidate>
        <h2>Отправить письмо</h2>
        <div class="form-group">

            <input type="text"     id="site_mainbundle_feedback_name" name="site_mainbundle_feedback[name]" required="required"        placeholder="Имя" data-validation-required-message="Пожалуйста введите ваше имя." class="form-control form-control" >
        </div>
        <div class="form-group">

            <input type="text"     id="site_mainbundle_feedback_phone" name="site_mainbundle_feedback[phone]"        placeholder="Телефон" data-validation-required-message="Пожалуйста введите ваш номер телефона." class="form-control form-control" >
        </div>
        <div class="form-group">

            <input type="email"     id="site_mainbundle_feedback_email" name="site_mainbundle_feedback[email]" required="required"        placeholder="Email" data-validation-required-message="Пожалуйста введите ваш email адрес." class="form-control form-control" >
        </div>
        <div class="form-group">

            <input type="text"     id="site_mainbundle_feedback_theme" name="site_mainbundle_feedback[theme]"        placeholder="Тема сообщения" data-validation-required-message="Пожалуйста введите тему письма." class="form-control form-control" >
        </div>
        <div class="form-group">

            <input type="text"     id="site_mainbundle_feedback_message" name="site_mainbundle_feedback[message]"        placeholder="Сообщение" data-validation-required-message="Пожалуйста введите ваше сообщение." class="form-control form-control" >
        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
    </form>
</div>