<div class="wrap-form level-block level108">

    <form  name="form" method="post" action="http://landing.lab-developers.com/project/siektor-komforta/forma-5/" novalidate="novalidate" class="form-horizontal" role="form">
        <h2>Отправить заявку</h2>

        <div class="flash-notice"></div>

        <div class="form-input-field">
            <input type="text"     id="form_imia-3" name="form[imia-3]" required="required"        placeholder="Имя" class="form-control" >
        </div>
        <div class="form-input-field">
            <input type="text"     id="form_tieliefon-3" name="form[tieliefon-3]" required="required"        placeholder="Телефон" class="form-control" >
        </div>
        <div class="form-input-field">
            <input type="text"     id="form_eliektronnaia-pochta-2" name="form[eliektronnaia-pochta-2]" required="required"        placeholder="Электронная почта" class="form-control" >
        </div>
        <div class="form-input-field">
            <button type="submit" id="form_otpravit-zaiavku-3" name="form[otpravit-zaiavku-3]" class="btn btn-primary">Отправить заявку</button>
        </div>

    </form>
</div>