<script>
function showGallery(images, number){
	$('#gallery-wrapper').show();

	$('#gallery-items *').remove();
		for(i = 0; i < images.length; i++){
			$('<li style="display: none;" onclick="hideGallery();"><span></span><img onclick="event.stopPropagation();" src="' + images[i] + '" alt="" /></li>').
				appendTo($('#gallery-items'));
		}
	$('#gallery-items img').imgpreload(function(){});

	currentIndex = number;
	totalCount = images.length;
	function setFrame(delta){
		currentIndex = (currentIndex + delta + totalCount - 1) % totalCount + 1;
		$('.gallery .counter .current-index').text(currentIndex);
	}
	$('.gallery-wrapper #gallery-btn-left').
		unbind('click').
		unbind('click').
		click(function () {
			setFrame(-1);
		});
	$('.gallery-wrapper #gallery-btn-right').
		unbind('click').
		unbind('click').
		click(function () {
			setFrame(1);
		});

	$('.gallery .counter .current-index').text(number);
	$('.gallery .counter .total-count').text(totalCount);

	$('#gallery-items').ulslide({
		effect: {
			type: 'fade', // slide or fade
			axis: 'x',     // x, y
			distance: 40   // Distance between frames
		},
		duration: 0,
		width: '100%',
		height: '70%',
		prevButton: '#gallery-btn-left',
		nextButton: '#gallery-btn-right',
                current : number - 1
	});
	if(images.length > 1){
		$('.gallery-wrapper #gallery-btn-left').show();
		$('.gallery-wrapper #gallery-btn-right').show();
	}else{
		$('.gallery-wrapper #gallery-btn-left').hide();
		$('.gallery-wrapper #gallery-btn-right').hide();
	}

	if(window.galleryPopupKeyEvenentsSet == undefined){
		$(document).keyup(function(e){
			switch(e.keyCode){
				case 27: hideGallery(); break;
				case 37: $('.gallery-wrapper #gallery-btn-left').click(); break;
				case 39: $('.gallery-wrapper #gallery-btn-right').click(); break;
			}
		});
		window.galleryPopupKeyEvenentsSet = true;
	}
}

function hideGallery(){
	$('#gallery-wrapper').hide();

	/*$('#gallery-wrapper').animate({
		'opacity': 0
	}, 'slow', function(){
		$(this).css({
			display: 'none',
			opacity: 1
		})
	});*/
}
</script>

