/* 
    Document   : style
    Created on : 05.09.2013, 8:20:32
    Author     : oleg
    Description:
        Purpose of the stylesheet follows.
*/
html, body{
    margin: 0;
    overflow-x: hidden;
}
.sidebar-left{
    width: 240px;
    position:fixed;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
    background: rgba(255, 255, 255, 0.79);
    left: 20px;
}
.sidebar-left a{
    font-family: "Arial";
    font-size: 11pt;
    line-height: 24px;
    color: #7b7b7b;
    text-transform: uppercase;
    text-decoration: none;
}
.sidebar-left a:hover{
    color: #000;
}
.sidebar-left ul li{
    list-style: none;
}
.sidebar-left ul{
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    padding-left: 20px;
}
.sidebar-left .menu-1, .menu-2, .menu-3, .menu-4, .menu-5, .menu-6, .menu-7{
}
.sidebar-left .menu-0{
    padding-top: 30px;
}
.sidebar-left .menu-0 a{
    font-size: 13pt;
}
.list-menu{
    position: absolute;
}

.b-bkg-slideshow {
    position: fixed!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.b-bkg-slideshow-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.wrap_content{
    position: absolute;
    z-index: 1001;
}
.content{
    position: absolute;
    background: rgba(255, 255, 255, 0.79);
    width: 1030px;
    top: 20px;
    left: 285px;
    min-height: 100%;
}
.content .text{
    padding: 20px;
}
.content .text h1{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-size: 20px;
}
.changeSlide {
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
@-webkit-keyframes imageAnimation {
    0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
}
25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
}
100% {
    opacity: 0;
}
}
@-moz-keyframes imageAnimation { 
    0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
}
25% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
@-o-keyframes imageAnimation { 
    0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -o-transform: scale(1.1);
}
25% {
    opacity: 0;
    -o-transform: scale(1.1);
}
100% {
    opacity: 0;
}
}
@-ms-keyframes imageAnimation {
    0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    -ms-transform: scale(1.1);
}
25% {
    opacity: 0;
    -ms-transform: scale(1.1);
}
100% {
    opacity: 0;
}
}
@keyframes imageAnimation {
    0% {
    opacity: 0;
    animation-timing-function: ease-in;
}
8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
}
17% {
    opacity: 1;
    transform: scale(1.1);
}
25% {
    opacity: 0;
    transform: scale(1.1);
}
100% {
    opacity: 0;
}
}
